@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Cousine);
.button {
  padding: 10px;
  text-align: center;
  font-family: 'Cousine';
  width: 50px;
}
#display {
  font-family: 'Share Tech Mono';
  text-align: right;
  font-size: 30px;
  padding: 5px;
}
#queue {
  font-family: 'Share Tech Mono';
  font-size: 20px;
}
#queue > div:nth-child(2n) {
  background-color: #cccccc;
}
table#calculator td {
  border: 1px solid #cccccc;
}
.number {
  background-color: #53324F;
  color: #ffffff;
}
.operator {
  background-color: #F0756E;
  color: #ffffff;
}
.sign {
  background-color: #F2E0A0;
  color: #000000;
}
.clear {
  background-color: #668D6E;
  color: #000000;
}
.push,
.empty {
  background-color: #000000;
  color: #ffffff;
}
